:root {
    --text-color: #ddd;
    --background-color: #004;

    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Cascadia Code', monospace;
    
    --calculator-color:#000;
    --button-hover-color: rgba(61, 61, 61, 0.4);
    --display-background-color: rgb(144, 143, 143);

    --calculator-width: 500px;
    --button-padding: 25px;
    --button-border-radius: 10px;
    --button-spacing: 15px;
    --font-size: 30px;
}

@media (prefers-color-scheme: light) {
    :root {
        --text-color: #004;
        --background-color: #ddd;

        --calculator-color:rgb(255, 255, 255);
        --button-hover-color: rgba(197, 197, 197, 0.3);
        --display-background-color: rgb(232, 232, 232);
    }
}

@media (width < 750px), (height < 650px) {
    :root{
        --calculator-width: 300px;
        --button-padding: 15px;
        --button-border-radius: 7.5px;
        --button-spacing: 10px;
        --font-size: 20px;
    }
}

@media (width < 350px), (height < 400px) {
    :root{
        --calculator-width: 200px;
        --button-padding: 5px;
        --button-border-radius: 5px;
        --button-spacing: 5px;
        --font-size: 12px;
    }
}

.content{
    max-width: var(--calculator-width);
    width: 75%;
    text-align: center;
    margin: auto;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.max-width {
    width: 100%;
}

.calcolatrice {
    background-color: var(--calculator-color);
    border-radius: var(--button-border-radius);
    table-layout: fixed;
    border-spacing: var(--button-spacing);
}

.calcolatrice td {
    padding: var(--button-padding);
    user-select: none;
    border-radius: var(--button-border-radius);
    font-size: var(--font-size);
    background-color: var(--calculator-color);
    transition: background-color 150ms;
}

.calcolatrice td:not(#display):hover,
.calcolatrice td.pressed {
    cursor: pointer;
    background-color: var(--button-hover-color);
}

.calcolatrice #display {
    font-size: calc(var(--font-size) / 3 * 4);
    text-align: right;
    background-color: var(--display-background-color);
    color:#000;
}

.calcolatrice .operation {
    color: hsl(23, 66%, 51%);
    font-weight: bold;
}

.calcolatrice .operation svg {
    height: var(--font-size);
}
